.led-array {
  display: table;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 65px;
  height: 60px;
  margin: 0;
  padding: 0;

  .led-array-value {
    display: table-row;
    margin: 0;
    padding: 0;
    list-style: none;

    .led-array-light {
      display: inline-block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 1px solid #000;
      border-radius: 6px;
      background: var(--control-value-background);

      &.led-array-light-active {
        border-color: #644;
        background: #D03445;
      }
    }
  }
}
