.library {
  width: 100%;
  border-collapse: collapse;
  border: 0;

  .table-head-row {
    border-bottom: 1px solid #999;

    .table-heading {
      color: #3f3f3f;
      font-weight: 800;
      vertical-align: bottom;
    }
  }

  .table-row {
    border-bottom: 1px solid #e1e1e1;
  }

  .table-cell {
    padding: 1em;
    text-align: left;
    vertical-align: top;
  }
}
