.library {
  padding: 20px;

  h3 {
    margin-top: 0;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 0;

    .table-head-row {
      border-bottom: 1px solid #999;

      .table-heading {
        color: #3f3f3f;
        font-weight: 800;
        vertical-align: bottom;
      }
    }

    .table-row {
      transition: background-color 0.1s ease;
      border-bottom: 1px solid #e1e1e1;

      .row-actions {
        /* visibility: hidden; */
        opacity: .25;

        .menu-button {
          padding: 0 .5em;
          border: 0;
          background: none;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      &.current {
        background-color: #eee;
      }

      &:hover {
        background-color: #ddd;

        .row-actions {
          /* visibility: visible; */
          opacity: 1;
        }
      }
    }

    .table-cell {
      padding: 1em;
      text-align: left;
      vertical-align: top;

      > svg {
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
      }
    }
  }
}
