.App {
  width: 1360px;
  margin: auto;

  > header {
    margin-bottom: 2rem;
    padding: 1em 0;
    background: #ccc;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .status {
    display: flex;

    .ports {
      width: 25%;
    }

    .message-log {
      flex-grow: 1;
    }
  }
}
