.App {
  width: 1360px;
  margin: auto;

  > header {
    margin-bottom: 2rem;
    padding: 1em 0;
    background: #ccc;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .section-nav {
    margin: 2em 0;
    text-align: center;

    button {
      display: inline-block;
      margin: 0 1em;
      border: 0;
      background: none;
      font-family: inherit;
      font-size: 1em;
      font-weight: 600;

      &.active {
        border-bottom: 3px solid var(--control-value-background);
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 1em;
        vertical-align: text-bottom;
      }
    }
  }

  .status {
    display: flex;

    .ports {
      width: 25%;
    }

    .message-log {
      flex-grow: 1;
    }
  }
}
