@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,800');

:root {
  --control-value-background: #2e3031;
  --control-value-background-hover: #535557;
  --control-value-background-active: #adadad;
  --value-color: #F6F5F3;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#root {
  flex: 1 0 auto;
  padding: 20px;
}
